# Credenciais do Banco de Dados
DB_HOST=mariadb
DB_USER=bca_user
DB_PASS=
DB_NAME=bca_db

# Configurações SMTP
SMTP_HOST=smtp.fab.mil.br
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
SMTP_FROM_NAME=Sistema BCA GAC-PAC

# Configurações da Aplicação
BASE_URL=http://localhost:8092
APP_ENV=production